* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}
:root {
    --main-bg-color: #1c1f23;
    --main-txt-color: white; 
  }

#wrapper{
    font-family: "Gill Sans", sans-serif;
    background-color: var(--main-bg-color);
}
/* ----tous les elements en blanc---- */
#MyTopnav a, .subscribe button, .card-citation p, .card-acteur p, .card-acteur a, .card p, .card a, .detail p, .casting a, .filmographie a, .filmographie li, #listing-genre a, h1, h2, h3, #intro p, h4, .real-movie a, .card-movie p, .card-movie a{
    color: var(--main-txt-color);
}

.subscribe-btn, .form-btn button, .formulaire button{
    background-color: var(--main-txt-color);
}

/* ---------------------------------------------------------navbar--------------------------------------------------------------- */

.topNav{
    background-color:#17181B ;
    opacity: 0.8;
}
#MyTopnav{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    z-index: 50;
    padding: 1% 0;
}
#MyTopnav img{
    width: 50px;
}
#MyTopnav .icon{
    /* icone menu burger  */
    display: none;
}

#MyTopnav a{
    font-size: 2em;
    text-decoration: none;
    transition: 0.5s;
}

#MyTopnav a:hover{
    opacity: 0.8;
}
.network a{
    padding: 0 12px;
}


/* --------------------------------------------------------------------------home-page---------------------------------- */

/* ---------------------------------------home-container------------------ */
h1, h2, h3, #intro p{
    text-align: center;
}
h1{
    padding: 10% 0 1% 0;
}
h2{
    padding-bottom: 3%;
}

#home-container{
    display: flex;
    align-items: center;
    gap: 10vw;
}

/* ---premier enfant de home-container--- */
#intro{
    flex: 1;
    padding: 5%;
}

#intro>p{
    padding: 10% 0;
}
.subscribe{
    padding-bottom: 0.5%;
    background-color: #010101;
    border-radius: 15px;
}
.subscribe p{
    padding-top: 3%;
}
.subscribe input{
    border-radius: 15px;
    border: none;
    outline: none;
    width: 90%;
    padding: 1%;
}

.subscribe-btn{
    display: flex;
    margin: 5%;
    border-radius: 15px;
    padding: 1%;
}

.subscribe button{
    background-color: #17181B;
    border: none;
    padding: 2% 3%;
    border-radius: 15px;
    transition: 0.5s;
}

.subscribe button:hover{
    opacity: 0.8;
}

/* ---deuxieme enfant de home-container--- */

#coup-de-coeur{
    background-color: #63637D;
    border-radius: 15px;
    margin: 5%;
    padding: 2%;
    flex: 1;
}


/* --------------------------------------cards--------------------------  */

/* ---films  */
#sortie-recente{
    display: flex;
    flex-wrap: wrap;
}
.card-movie{
    border-radius: 15px;
    margin: 1%;
    padding: 2%;
    flex: 1;

}
#movie1{
    background-color: #7A5864;
}
#movie2{
    background-color: #3B4D5A;
}
#movie3{
    background-color: #45695A;
}


.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-header img, .card-acteur img{
    width: 20vw;
}
.card-info{
    padding-left: 3%;
}
.titre-movie{
    font-size: large;
    font-weight: bold;
}


.real-movie{
    font-weight: bold;
}

.resume{
    padding: 2% 0;
    text-align: justify;

}


 /* -----parallax---------- */
#parallax{
    height: 30vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)) ,url("../img/ticket-2974645_1280.jpg");
    background-size: cover;
    background-position: center; 
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#parallax h3{
    font-family: "Della Respira", serif;
    font-size: xxx-large;
}

/* ---------citations----------- */
#citations{
    display: flex;
}
.card-citation{
    background-color: #26272b;
    margin: 3%;
    padding: 2%;
    flex: 1;
}

.citation{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
.citation-auteur{
    text-align: right;
}


/* -----acteurs  */

#acteurs-moment{
    display: flex;
    flex-wrap: wrap;
}

.card-acteur figure{
    text-align: center;
}
.card-acteur{
    background-color: #303039;
    flex: 1;
    margin: 1%;
    padding: 1%;
    box-shadow: 12px 11px #7A5864;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card-acteur p{
    text-align: justify;
    padding: 3% 0;
}


/* --------------------------------------------------------------------listes genre, real, acteurs, film--------------------------------- */


.introduction{
    background-color: #D9D9D9;
}
/* ----------------liste films------------- */

#listings{
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 5%;
    overflow: hidden;
}

.card p, .card a{
    padding: 2% 0;
    text-align: center;
}

.card a{
    transition: 0.5s;
}
.card a:hover{
    opacity: 0.5;
}
.card img{
    height: 300px;
}
.card figure{
    width: 200px;
    display: flex;
    justify-content: center;
}
.form-btn{
    display: flex;
    justify-content: center;
}

.form-btn button{
    color: black;
    border: none;
    padding: 1%;
    border-radius: 15px;
    margin-bottom: 1%;
    transition: 0.5s;
}

.form-btn button:hover{
    opacity: 0.8;
}
button a{
    color: #010101;

}

.supprimer{
    color: var(--main-txt-color);
    display: flex;
    justify-content: center;
    padding: 2%;
}

/* -----------------------------------------------detail film-------------------- */
.detail p{
    padding: 2%;
}

.detail-header{
    padding: 2%;
    margin-bottom: 1%;
}
.detail-header p{
    padding: 3% 0;
}

.detail ul{
    padding: 3% 0;
}

.synopsis p{
    text-align: justify;
    padding: 2% 5%;
}
.detail a{
    transition: 0.5s;
}
.detail a:hover{
    opacity: 0.5;
}

/* ------------------detail acteur--------- */
.filmographie{
    padding: 2%;
}

.filmographie h4{
    margin: 2rem 0;
}
.filmographie li{
    list-style: none;
    margin-bottom: 2rem;
}
.filmographie a{

    font-weight: bold;
}
.detail-card img{
    width: 20vw;
}

/* -------------liste genre------------------ */

.listing-genre ul{
    list-style: none;
    padding-left: 2%;
}
.listing-genre li{
    padding: 1% 0;
}
.listing-genre a{
    color: var(--main-txt-color);
    transition: 0.5s;
}
.listing-genre a:hover{
    opacity: 0.5;
}
/* --------------------------------------------------------------------formulaires------------------------------------------------------- */


.formulaire{
    background-color: #6e6e72d6;
    padding: 3%;
    margin: 3%;
}

.formulaire input[type="text"], .formulaire input[type="number"], select{
    border: none;
    outline: none;
    padding: 1%;
    border-radius: 5px;
    margin: 1% 0;
}

input[type="file"]{
    padding: 1% 0;
}
.formulaire button{
    border: none;
    padding: 0.5%;
    border-radius: 5px;
    margin-bottom: 1%;
    transition: 0.5s;
}
.formulaire textarea{
    border-radius: 5px;
    outline: none;

}
.formulaire p{
    margin: 1% 0;
}

.formulaire img{
    width: 20vw;
}

/* -----footer------ */
footer a {
    color: #010101;
    transition: 0.5s;
}
footer a:hover{
    opacity: 0.5;
}
footer{
    background-color: #D9D9D9;
    margin-top: 2%;
}
footer p{
    text-align: center;
    padding: 0.5% 0;
}
footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
footer li{
    padding: 0 1%;
}


/* ===============================================VERSION MOBILE ================================= */
@media screen and (max-width: 768px){

.network{
    display: none;
    }


/* --navbar fermee-- */
#MyTopnav{
    position: relative;
} 

#MyTopnav .icon{
    position: absolute;
    display: block;
    color: var(--main-txt-color);
    font-size: 30px;
    top: 10px;
    right: 25px;

}

nav a{
    display: none;
}
.accueil-btn{
    display: block;
}

/* --navbar ouverte-- */

.navbarResponsive{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    height: 90vh;
    background-color: #010101;
}

.navbarResponsive .icon{
    position: absolute;
    top: 25px;
    right: 25px;
    float: right;
    color: #010101;
    font-size: 30px;

}

.navbarResponsive a{
    float: none;
    display: block;
    text-align: left;
    padding: 5px 5px;
}

.navbarResponsive a:not(:last-child){
    border-bottom: solid 1px #d9d9d9;
}
/* ---------------------------------------home-page---------------------- */

#home-container, #sortie-recente, #citations, #acteurs-moment{
    display: block;
}
#sortie-recente{
    margin: 5%;
}

h1, h2{
    padding: 4% 0;
}

#subscribe{
    padding: 2%;
}

#subscribe p{
    padding: 3% 0;
    
}
#subscribe input{
    padding: 2%;
}
#subscribe button{
    width: 5em;
    padding: 2%;
}
#subscribe-btn{
    justify-content: space-between;
    padding: 2%;
}
/* ------acteurs du moment-----  */
.card-header img{
    width: 50vw;
}

.card-movie{
    margin: 5% 0;
}
.card-acteur{
    box-shadow: 0 11px #7A5864;
    margin: 5% 0;
}
/* --------------------------------------cards-------------------------- */

#coup-de-coeur h4{
    padding: 2%;
}

.card-acteur img{
    width: 150px;
}

.card-movie{
    padding: 5%;
}

.resume{
    padding: 5% 0;
}
}