* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}
#wrapper{
    /* background: radial-gradient(#D9D9D9, #2F303A); */
    /* background: radial-gradient(ellipse at top, #2F303A, transparent),
            radial-gradient(ellipse at bottom, #D9D9D9, transparent); */
    font-family: "IBM Plex", Serif;
    background-color: #2F303A;
}


h1, h2, .uk-label{
    color: white;
    text-align: center;
}
/* ---------------------------------------------------------navbar--------------------------------------------------------------- */
#MyTopnav{
    /* background-color: #D9D9D9; */
    display: flex;
    justify-content: space-evenly;
}

#MyTopnav .icon{
    display: none;
}

#MyTopnav a{
    font-size: 2em;
    color: white;
}

.network a{
    padding: 0 12px;
}

footer{
    background-color: #D9D9D9;
}
/* ----------------------------------------------------home-page---------------------------------- */

/* ---------------------------------------home-container------------------ */

.subscribe{
    background-color: black;
    padding: 2%;
    border-radius: 20px;
}
.subscribe p{
    color: #E29A9A;
    font-size: large;
    text-align: center;
    padding: 3% 0;
    
}
.subscribe input{
    padding: 2%;
    border: none;
    outline: none;
    border-radius: 20px;
}
.subscribe button{
    background-color: #D9D9D9;
    width: 5em;
    padding: 2%;
    border-radius: 20px;
}
.subscribe-btn{
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 2%;
}

#coup-de-coeur, .card-movie{
    background-color: #6e6e72d6;
}

.card-movie p, #intro p, h4{
    color: white;
}
/* ---------------------------------------------------------------------listes genre, real, acteurs, film------------------------- */
.introduction{
    background-color: #D9D9D9;
}

.card-listing, .listing-genre, .detail{
    background-color: #6e6e72d6;
    padding: 3%;
    margin: 3%;
}
img{
    width: 200px;
}
.card-listing a{
    color: black;
    font-size: larger;
    /* font-weight: bold; */
 }
 
 .detail a{
     color: #010101;
     font-weight: bold;
     text-decoration: underline;
 }

/* --------------------------------------------------------------------formulaire------------------------------------------------------- */

#ajouterFilm{
    background-color: #D9D9D9;
}
#ajouterFilm p{
    padding: 4%;
}
textarea{
    width: 100%;
}

/* -----------------------------------------------------------------VERSION MOBILE --------------------------------------------------- */
@media screen and (max-width: 500px){

.network{
    display: none;
    }


/* --navbar fermee-- */
/* #MyTopnav{
    position: relative;
} */

#MyTopnav .icon{
    display: block;
    color: #010101;
    font-size: 30px;
    top: 0;
    right: 0;

}

nav a{
    display: none;
}

/* --navbar ouverte-- */

.navbarResponsive{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #6e6e72d6;
    border-radius: 3px;
}

.navbarResponsive .icon{
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    color: #010101;
    font-size: 30px;

}


.navbarResponsive a{
    color: black;
    /* border: solid black; */
    float: none;
    display: block;
    text-align: left;
    padding: 5px 5px;
}

/* ----------Header--------- */
h1, h2{
    padding: 4% 0;
}







/* -----footer------ */
footer a {
    color: #010101;
}





}